<div class="flow-step-demo">
  <h2>基础用法</h2>
  <section>
    <p>场景定义：默认箭头类型的步骤条。</p>
    <re-flow-step [(active)]="active" [steps]="steps"></re-flow-step>
    <br/>

    <p>场景定义：点状的步骤条。</p>
    <re-flow-step [(active)]="active" [steps]="steps" type="dot"></re-flow-step>
    <br/>

    <p>场景定义：前进/后退的交互。</p>
    <div class="button-panel">
      <button class="btn btn-default" (click)="active = active - 1">Pre step</button>
      <button class="btn btn-primary" (click)="active = active + 1">Next step</button>
    </div>
  </section>
</div>

