<div class="input-demo">

  <h2>Primary:</h2>
  <section>
    <p>使用场景:</p>
    <input type="text" placeholder="input placeholder" class="form-control" />
  </section>

  <h2>With icons:</h2>
  <section>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input class="form-control" placeholder="Username">
    </div>
    <br/>

    <div class="input-group">
      <input class="form-control" placeholder="Recipient's username">
      <span class="input-group-addon">@example.com</span>
    </div>
    <br/>

    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input class="form-control">
      <span class="input-group-addon">.00</span>
    </div>
  </section>

  <h2>Sizing:</h2>
  <section>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">@</span>
      <input class="form-control" placeholder="Username">
    </div>
    <br/>

    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input class="form-control" placeholder="Username">
    </div>
    <br/>

    <div class="input-group input-group-sm">
      <span class="input-group-addon">@</span>
      <input class="form-control" placeholder="Username">
    </div>
  </section>

</div>
