<div class="rating-demo">
  <h2>胶囊式标签页</h2>
  <section>
    <p>场景定义：用于表格页头平级内容的收纳与切换。例如场景：流水线展示。</p>
    <re-tabs [(activeTab)]="tab.activeId" cssClass="tab-capsule">
      <re-tab id="tab1" title="我的流水线">
        <ng-template reTabContent>
          <p>
            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
            keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
            salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          </p>
        </ng-template>
      </re-tab>

      <re-tab id="tab2" title="流水线度量">
        <ng-template reTabContent>
          <p>
            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
            labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer
            twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
            cillum
            PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr,
            vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
            jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
            vero sint qui sapiente accusamus tattooed echo park.
          </p>
        </ng-template>
      </re-tab>

      <re-tab id="tab3" title="其他" [disabled]="true">
        <ng-template reTabContent>
          <p>
            Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny
            pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
            locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid
            8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro
            mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown.
            Pitchfork sustainable tofu synth chambray yr.
          </p>
        </ng-template>
      </re-tab>
    </re-tabs>

    <pre>{{tab |json}}</pre>
  </section>

  <h2>卡片式标签页</h2>
  <section>
    <p>场景定义：用于容器顶部，需要一点额外的样式覆盖。例如场景：发布单元。</p>
    <re-tabs [(activeTab)]="tab.activeId" cssClass="tab-card">
      <re-tab *ngFor="let item of tabItems" [id]="item.id" [disabled]="item.disabled">
        <ng-template reTabTitle>
          {{item.title}}
        </ng-template>
        <ng-template reTabContent>
          {{item.content}}
        </ng-template>
      </re-tab>
    </re-tabs>
  </section>

  <h2>线型标签页</h2>
  <section>
    <p>场景定义：用于容器顶部，需要一点额外的样式覆盖。例如场景：发布单元。</p>
    <re-tabs [(activeTab)]="tab.activeId" cssClass="tab-line">
      <re-tab *ngFor="let item of tabItems" [id]="item.id" [disabled]="item.disabled">
        <ng-template reTabTitle>
          {{item.title}}
        </ng-template>
        <ng-template reTabContent>
          {{item.content}}
        </ng-template>
      </re-tab>
    </re-tabs>
  </section>

  <h2>标签页大小</h2>
  <section>
    <p>场景定义：当用于弹窗时可能会用到较小尺寸的标签。</p>
    <re-tabs activeTab="tab-sm-1" cssClass="tab-capsule tab-sm">
      <re-tab id="tab-sm-1" title="我的流水线">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-2" title="你的流水线">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-3" title="其他" [disabled]="true">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
    </re-tabs>

    <re-tabs activeTab="tab-sm-11" cssClass="tab-card tab-sm">
      <re-tab id="tab-sm-11" title="Home">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-12" title="Profile">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-13" title="Others" [disabled]="true">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
    </re-tabs>

    <re-tabs activeTab="tab-sm-21" cssClass="tab-line tab-sm">
      <re-tab id="tab-sm-21" title="Home">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-22" title="Profile">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-23" title="Others" [disabled]="true">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
    </re-tabs>

    <p>场景定义：当用于页面时可能需要用到较大尺寸的标签。</p>
    <re-tabs activeTab="tab-sm-41" cssClass="tab-card tab-lg">
      <re-tab id="tab-sm-41" title="Home">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-42" title="Profile">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
      <re-tab id="tab-sm-43" title="Others" [disabled]="true">
        <ng-template reTabContent>
        </ng-template>
      </re-tab>
    </re-tabs>
  </section>
</div>
