@import "../variables";

re-action-button {
  .btn {
    min-width: auto;
  }

  .open > .btn-default.dropdown-toggle, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus {
    border-color: $ds-color-primary-active;
    color: $ds-color-primary-active;
    background-color: $ds-color-white;
  }

  .btn-group {
    border-radius: 2px;
  }

  & + re-action-button {
    margin-left: 10px;
  }
}

.action-btn-plain {
  cursor: pointer;

  a:hover {
    text-decoration: none;
  }

  i {
    margin-left: 6px;
    transition: all 0.2s;
    vertical-align: text-top;
  }

  &.open {
    i {
      transform: rotate(180deg);
    }
  }
}

.action-btn-plain + .dropdown-menu {
  min-width: auto;
  width: auto;
}
