@import "../common";

.btn, .btn:focus, .btn:active, .btn:active:focus {
  outline: 0;
}

.btn {
  //border-radius: 2px;
  min-width: 104px;
  //line-height: 1.3;

  i.fa + span {
    margin-left: 8px;
  }

  &.btn-circle {
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    min-width: auto;

    &:after {
      border-radius: 50%;
    }
  }

  &.btn-icon {
    width: 60px;
    min-width: auto;
  }

  &.btn-xs {
    min-width: auto;
  }

  &.btn-sm {
    min-width: 60px;
  }

  &.btn-lg {
    min-width: 160px;
  }

  & + .btn {
    margin-left: 10px;
  }
}

.btn-primary {
  //border-color: $ds-color-primary;
  //&:hover {
  //  border-color: $ds-color-primary-hover;
  //  background-color: $ds-color-primary-hover;
  //}
  //
  //&:focus, &:active, &:active:focus {
  //  border-color: $ds-color-primary-active;
  //  background-color: $ds-color-primary-active;
  //}
}

.btn-danger {
  @include button-variant($ds-color-white, $ds-color-danger, $ds-color-danger);
}

.btn-warning {
  @include button-variant($ds-color-white, $ds-color-warning, $ds-color-warning);
}

.btn-default-reset {
  background-color: $ds-color-white;
  border-color: $ds-color-primary;
}

.btn-default {
  @extend .btn-default-reset;
  &:hover, &:focus, &:active, &:active:focus, &.disabled:hover, &[disabled]:hover {
    @extend .btn-default-reset;
  }
}

.btn-default {
  color: $ds-color-primary;

  &.btn-active, &.btn-active[disabled]:hover  {
    border-color: $ds-color-text;
    color: $ds-color-text;
  }

  &:hover, &.btn-active:hover {
    border-color: $ds-color-primary-hover;
    color: $ds-color-primary-hover;
  }

  &:focus, &:active, &:active:focus {
    border-color: $ds-color-primary-active;
    color: $ds-color-primary-active;
  }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 0.2;
}

@include btn-ripple(primary);
@include btn-ripple(success);
@include btn-ripple(danger);
@include btn-ripple(warning);
@include btn-ripple(info);
@include btn-ripple(default, $ds-color-primary);
