@import "../../styles/variables";
@import "../../styles/mixins";

re-date-picker-popup {
  &.dropdown-menu {
    min-width: 100%;
    width: auto;
  }

  > div.month-view {
    border-radius: 2px;
    background-color: $ds-color-background-gray !important;
    @include popup-box-shadow($ds-color-black);

    table.month-view-table {
      thead {
        background-color: $ds-color-background-gray;
      }

      tr.week-header {
        background-color: $ds-color-primary;
        td {
          font-style: normal;
          color: $ds-color-white;
          border: 1px solid $ds-color-primary;
        }
      }

      tbody {
        tr {
          td.day {
            .calendar-date {
              &:hover:not(.bg-primary) {
                background-color: $ds-color-gray-light !important;
                border-color: $ds-color-gray-light !important;
                color: $ds-color-text !important;
              }
            }

            &.in-month-day {
              .calendar-date:not(.bg-primary) {
                color: $ds-color-text;
              }
            }

            &.out-of-month {
              color: $ds-color-text-light;
            }

            &.disabled {
              div.calendar-date:not(.bg-primary) {
                color: $ds-color-text !important;
                background-color: $ds-color-gray-disabled !important;
              }
            }
          }
        }
      }

      tfoot .time-picker-view {
        background-color: $ds-color-background-gray;

        button {
          margin-top: 2px;
        }
      }
    }
  }
}
