@import "../../styles/variables";
@import "../../styles/mixins";

.dropdown-menu {
  padding: 0;
  min-width: auto;
  width: 100%;
  margin-top: 8px;
  border-color: $ds-color-border;
  @include popup-box-shadow();

  & > li > a {
    padding: 8px 16px;
  }

  .dropdown-header {
    color: $ds-color-text-medium;
    padding: 4px 16px;
  }
}

re-action-button {
  .dropdown {
    .dropdown-menu {
      margin-top: 8px;
    }
  }

  .dropup {
    .dropdown-menu {
      margin-bottom: 8px;
    }
  }
}
