@import "../../styles/variables";

.btn, input.form-control {
  line-height: 1.3;
}

.form-inline {
  .form-group {
    margin: 0 $grid-gutter-width / 2;
    label {
      margin-right: $grid-gutter-width / 2;
    }
  }
}

.has-feedback {
  .form-control {
    padding-right: $input-height-base;
  }

  &:not(.has-success):not(.has-error) .form-control:focus + .form-control-feedback {
    color: $ds-color-primary;
  }
}

label {
  font-weight: normal;

  &.required-label {
    &:before {
      position: relative;
      content: "*";
      color: $ds-color-danger;
      margin-right: 4px;
      vertical-align: sub;
    }
  }
}
