@import "../../styles/variables";
@import "../../styles/mixins";

.form-control {
  line-height: 1.57;
  height: 36px;
  color: $ds-color-black;

  @include form-control-focus($ds-color-primary);
}

.has-error .form-control {
  @include form-control-focus($ds-color-danger);
}

.has-warning .form-control {
  @include form-control-focus($ds-color-warning);
}

.has-success .form-control {
  @include form-control-focus($ds-color-success);
}

.input-group-addon {
  background-color: $ds-color-white;
  color: $ds-color-text-medium;
}

.input-group {
  .input-group-select {
    display: table-cell;
    width: 30%;
    vertical-align: middle;

    > .select-container.dropdown .input-group.select-panel input.select-control:not(:focus) {
      border-right-width: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

div[class^="input-group"] {
  &.organic, &.select-panel {
    display: block;
    position: relative;

    .input-group-addon, .form-control {
      display: block;
      float: none;
    }

    .form-control {
      border-radius: 2px;
      padding-right: $padding-base-horizontal * 4;
    }

    .input-group-addon {
      position: absolute;
      top: 50%;
      //right: $padding-base-horizontal * 2 + 2;
      right: 0;
      width: auto;
      z-index: 10;
      background: transparent;
      border: none;
      transform: translateY(-50%);

      i {
        width: 16px;
      }
    }

    .form-control:focus + span i {
      color: $ds-color-primary;
    }
  }
}

.has-error, .has-success, .has-warning {
  div[class^=input-group].organic .form-control:focus + span i {
    color: inherit;
  }
}

textarea {
  min-height: 104px;
}

.form-input-sm, .form-input-md, .form-input-lg {
  &:not(.input-group) {
    display: inline-block;
  }
}

.form-input-sm {
  width: 240px;
}

.form-input-md {
  width: 368px;
}

.form-input-lg {
  width: 500px;
}

.input-group .form-control.form-input-sm {
  @extend .form-input-sm;
}

.input-group .form-control.form-input-md {
  @extend .form-input-md;
}

.input-group .form-control.form-input-lg {
  @extend .form-input-lg;
}
