@import "../../styles/variables";

.form-control {
  line-height: 1.57;
  height: 36px;
}

.input-group-addon {
  background-color: $ds-color-white;
}

.input-group {
  .input-group-select {
    display: table-cell;
    width: 30%;
    vertical-align: middle;

    > .select-container.dropdown .input-group.select-panel input.select-control {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

div[class^="input-group"] {
  &.organic, &.select-panel {
    display: block;
    position: relative;

    .input-group-addon, .form-control {
      display: block;
      float: none;
    }

    .form-control {
      border-radius: 2px;
      padding-right: $padding-base-horizontal * 4;
    }

    .input-group-addon {
      position: absolute;
      top: 50%;
      right: $padding-base-horizontal * 2 + 2;
      z-index: 10;
      background: transparent;
      border: none;
      transform: translateY(-50%);

      i {
        width: 16px;
      }
    }
  }
}

textarea {
  min-height: 104px;
}

.required-label {
  &:before {
    position: relative;
    content: "*";
    color: $ds-color-danger;
    margin-right: 4px;
    vertical-align: sub;
  }
}
