@import "../../styles/variables";
@import "../../styles/mixins";

re-select > .select-container.dropdown {
  border-bottom: none;

  .dropdown-menu {
    width: auto;
    min-width: 100%;
  }

  .input-group.select-panel {
    input.select-control {
      border: 1px solid $input-border;

      @include form-control-focus($ds-color-primary);
    }
  }

  .input-group-addon {
    border: 1px solid $input-border;

    i {
      color: $ds-color-primary;
    }

    &:last-child {
      border-left: 0;
    }
  }

}

re-select.select-primary > .select-container.dropdown .input-group.select-panel input.select-control {
  border-color: $ds-color-primary;

  &::placeholder {
    color: $ds-color-primary;
  }
}
