<div class="tooltip-demo">
  <h2>显示完整信息</h2>
  <section>
    <p>场景定义：文字因超长被截断，鼠标hover显示文字完整信息。tooltip padding=8px，max-width<1/3 screen-width。</p>
    <a href="#" reTooltip="LU18_MobileBank_FrontEnd_1230890-90SunCode_UATLU18_MobileBank0000Ajojdpenjioegmoaption"
       placement="bottom">
      LU18_MobileBank_FrontEnd...
    </a>
  </section>

  <h2>显示完整信息</h2>
  <section>
    <p>场景定义：表格字段解释，信息冗长，或者其他通过鼠标点击 icon 显示隐藏类的信息。</p>
    <div class="text-center col-md-3">
      <a>
        <i class="glyphicon glyphicon-info-sign"
           reTooltip="Modern versions of assistive technologies will announce CSS generated content, as well as specific Unicode characters. To avoid unintended and confusing output in screen readers"></i>
      </a>
    </div>
  </section>

  <h2>大小和方向</h2>
  <section>
    <p>场景定义：表格字段解释，信息冗长，或者其他通过鼠标点击 icon 显示隐藏类的信息。</p>
    <a reTooltip="😊 Short" placement="left">
      Tooltip at left
    </a>,
    <a
      reTooltip="🚀 Modern versions of assistive technologies will announce CSS generated content, as well as specific Unicode characters. To avoid unintended and confusing output in screen readers">Tooltip
      at top</a>,
    <a reTooltip="I am a rebirth tooltip!" placement="bottom">
      Tooltip at bottom
    </a>,
    <a reTooltip="I am a rebirth tooltip!" placement="right">
      Tooltip at right
    </a>
  </section>

  <h2>其他</h2>
  <section>
    <p>场景定义：自定义展开/收起</p>
    <div>
      <a #tooltip="tooltip" [trigger]="'manual'"
         [reTooltip]="'I am a rebirth tooltip!'">
        Tooltip manually...
      </a>
      <input type="checkbox" id="tooltipSwitch" [(ngModel)]="tooltipSwitch" (change)="toggleToolTip()"
             name="tooltipSwitch"/>
      <label for="tooltipSwitch">&nbsp;显示Tooltip</label>
    </div>
    <br/>

    <p>场景定义：自定义tooltip内容，如超链接。支持点击展开</p>
    <div>
      <a [reTooltip]="tipContent" [context]="'Design system'" [trigger]="'click'">Rich tooltip</a>
    </div>
  </section>

  <ng-template #tipContent let-context>
    <div>
      Checkout <a target="_blank" href="#">{{context}}</a> for more details!
    </div>
  </ng-template>

</div>
