<div class="progress-bar-demo">

  <h2>基础用法</h2>
  <section>
    <p>场景定义：当需要描述运行中时使用进度条，支持animation。</p>
    <re-progress-bar [value]="value" [text]="value + '%'"></re-progress-bar>
    <re-progress-bar type="success" [value]="value" [text]="value + '%'"></re-progress-bar>
    <re-progress-bar type="warning" [striped]="true" [text]="'Copy file ' + value + 'of 60'" [value]="value"
                     [max]="100"></re-progress-bar>
    <re-progress-bar type="danger" [striped]="true" [animate]="true" [value]="value"></re-progress-bar>

    <re-progress-bar type="success" [value]="value" [text]="value + '%'" [thin]="true"></re-progress-bar>

    <div class="button-panel">
      <button class="btn btn-primary" (click)="value = value + 10">+10</button>
      <button class="btn btn-default" (click)="value = value - 10">-10</button>
    </div>
  </section>
</div>
