@import "./variables";
// self scss variables or override 3rd variables;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@mixin form-control-focus($color: $ds-color-primary) {
  $color-rgba: rgba(red($color), green($color), blue($color), .6);
  &:focus {
    border-color: $color;
    outline: 0;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px $color-rgba);
  }
}

@mixin popup-box-shadow($color: $ds-color-black) {
  $color-rgba: rgba(red($color), green($color), blue($color), .24);
  outline: 0;
  @include box-shadow(1px 2px 4px $color-rgba!important);
}

