// self scss variables or override 3rd variables;

$icon-font-path: "../assets/fonts/";

$ds-color-primary: #0074e4;
$ds-color-text: #333333;
$ds-color-gray: #999999;
$ds-color-green-light: #f3f7fc;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
