// self scss variables or override 3rd variables;

//$icon-font-path: "../assets/fonts/";

$ds-color-primary: #0074e4;
$ds-color-primary-hover: #007ef5;
$ds-color-primary-active: #005cb3;

$ds-color-background: #f3f7fc;
$ds-color-background-gray: #f9f9f9;

$ds-color-text: #333333;
$ds-color-text-medium: #666666;
$ds-color-text-light: #999999;
$ds-color-text-disabled: #d9d9d9;
$ds-color-white: #ffffff;
$ds-color-black: #000000;

$ds-color-gray-dark: #999999;
$ds-color-gray: #999999;
$ds-color-gray-light: #e5e5e5;

$ds-color-green-light: #f3f7fc;
$ds-color-blue-medium: #91ceff;
$ds-color-blue-light: #e1eeff;

$ds-color-danger: #f5222d;
$ds-color-danger-bg: #ff4d4f;
$ds-color-warning: #fa8c16;
$ds-color-warning-bg: #ff7a45;
$ds-color-reminding: #fadb14;
$ds-color-fine: #a0d911;
$ds-color-success: #52c41a;
$ds-color-success-bg: #73d13d;

// bootstrap variable overwrite
$brand-primary: $ds-color-primary;
$brand-danger: $ds-color-danger;
$brand-warning: $ds-color-warning;
$brand-success: $ds-color-success;

$state-danger-text: $ds-color-danger;
$state-danger-bg: $ds-color-danger-bg;
$state-warning-text: $ds-color-warning;
$state-warning-bg: $ds-color-warning-bg;
$state-success-text: $ds-color-success;
$state-success-bg: $ds-color-success-bg;

$body-bg: $ds-color-background;
$dropdown-link-hover-bg: $ds-color-primary;
$dropdown-link-hover-color: $ds-color-white;

$nav-tabs-active-link-hover-color: $ds-color-white;
$nav-tabs-active-link-hover-bg: $ds-color-primary;
$nav-tabs-active-link-hover-border-color: $ds-color-primary;

$tooltip-bg: $ds-color-text;
$tooltip-max-width: 356px;

$padding-base-vertical: 8px;
$padding-base-horizontal: 8px;
$padding-large-vertical: 10px;
$padding-large-horizontal: 10px;
$padding-small-vertical: 5px;
$padding-small-horizontal: 5px;
$padding-xs-vertical: 2px;
$padding-xs-horizontal: 4px;
$form-group-margin-bottom: 16px;
$border-radius-base: 2px;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

