// self scss variables or override 3rd variables;

$icon-font-path: "../assets/fonts/";

$ds-color-primary: #0074e4;
$ds-color-text: #333333;
$ds-color-white: #ffffff;
$ds-color-black: #000000;
$ds-color-gray: #999999;
$ds-color-gray-light: #e5e5e5;
$ds-color-green-light: #f3f7fc;
$ds-color-blue-light: #e1eeff;

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
