<div class="accordion-demo">

  <h2>基础用法</h2>
  <section>
    <p>应用场景说明：当需要展开以显示扩展功能时使用。</p>
    <re-accordion [keepOneItem]="false">
      <re-accordion-item type="primary">
        <re-accordion-header>
          Panel primary header!
        </re-accordion-header>
        <re-accordion-body>
          Panel primary content.
        </re-accordion-body>
      </re-accordion-item>
    </re-accordion>

    <p>应用场景说明：当较轻量级时使用，例如表单中的隐藏字段。</p>
    <re-accordion type="plain" #accordion="accordion">
      <re-accordion-item id="x1">
        <re-accordion-header>
          展开更多
        </re-accordion-header>
        <re-accordion-body>
          Panel content 1.
        </re-accordion-body>
      </re-accordion-item>
    </re-accordion>
  </section>

  <h2>交互细节</h2>
  <section>
    <p>应用场景说明：动态展开/收起面板</p>
    <div class="button-panel">
      <button class="btn btn-primary" (click)="accordion.toggleById('1')">Toggle panel 1</button>
    </div>
    <br/>

    <re-accordion type="default" #accordion="accordion">
      <re-accordion-item id="1">
        <re-accordion-header>
          Panel header 1!
        </re-accordion-header>
        <re-accordion-body>
          Panel content 1.
        </re-accordion-body>
      </re-accordion-item>

      <re-accordion-item id="2">
        <re-accordion-header>
          Panel header 2!
        </re-accordion-header>
        <re-accordion-body>
          Panel content 2.
        </re-accordion-body>
      </re-accordion-item>

      <re-accordion-item id="3">
        <re-accordion-header>
          Panel header 3!
        </re-accordion-header>
        <re-accordion-body>
          Panel content 3.
        </re-accordion-body>
      </re-accordion-item>
    </re-accordion>

    <p>应用场景说明：动态增加/删除accordion item</p>
    <div class="button-panel">
      <button class="btn btn-primary" (click)="appendItems()">Append one item</button>
      <button class="btn btn-primary" (click)="removeLastItem()">Remove last item
        {{items.length}}
      </button>
    </div>
    <br/>
    <re-accordion type="primary">
      <ng-container *ngFor="let item of items">
        <re-accordion-item id="{{item.id}}" #panel="panel">
          <re-accordion-header>
            <i class="fa"
               [ngClass]="{'fa-chevron-up': panel.isCollapsed,'fa-chevron-down': !panel.isCollapsed}"></i>
            &nbsp;{{item.title}}
          </re-accordion-header>
          <re-accordion-body>
            {{item.content}}
          </re-accordion-body>
        </re-accordion-item>
      </ng-container>
    </re-accordion>
  </section>
</div>
