<div class="button-demo">

  <h2>Primary Button</h2>
  <section>
    <p>应用场景说明：一级按钮，应用于页面中最重要的操作行为。例如：保存、确认、添加按钮。</p>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-primary disabled" disabled="disabled">Disabled</button>
  </section>

  <h2>Secondary Button</h2>
  <section>
    <p>应用场景说明：辅助按钮，应用于页面中次重要的操作行为。例如：重置、取消按钮。</p>
    <button class="btn btn-default">Default</button>
    <button class="btn btn-default disabled" disabled="disabled">Disabled</button>
  </section>

  <h2>Extend Button</h2>
  <section>
    <p>应用场景说明 ：特殊按钮，应用于页面中特殊或需要强调的操作行为。</p>
    <button class="btn btn-primary">
      <i class="fa fa-search"></i>
      <span>Search</span>
    </button>
  </section>

  <h2>Button Size</h2>
  <section>
    <p>应用场景说明 ：small应用于table操作行为中；medium应用于搜索、添加，弹窗按钮等场景；</p>
    <button class="btn btn-primary btn-xs">XSmall</button>
    <button class="btn btn-primary btn-sm">Small</button>
    <button class="btn btn-primary">Normal</button>
    <button class="btn btn-primary btn-lg">Large</button>
  </section>

  <h2>Others</h2>
  <section>
    <p>应用场景：icon按钮</p>

    <button class="btn btn-primary btn-circle">
      <i class="fa fa-search"></i>
    </button>

    <button class="btn btn-default btn-circle">
      <i class="fa fa-search"></i>
    </button>
  </section>

</div>
