@import "../styles/variables";

html {
  overflow: hidden;
}

html, body {
  background: $ds-color-white;
  font-family: "微软雅黑", "Roboto", "Helvetica", "Arial", sans-serif;
}

ul {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  .app-bar {
    position: relative;
    top: 0;
    z-index: 1500;
  }

  header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    background: $ds-color-primary;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    padding: 0 20px;

    a {
      color: $ds-color-white;
      text-decoration: none;
    }
  }

  h1.title {
    font-size: 0;
    margin: 0;

    img {
      height: 40px;
    }
  }

}


/* menu */
.main-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;

  .main-nav-item {
    font-size: 16px;
    display: block;
    padding: 16px 32px;

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* wrapper */
.wrapper {
  display: flex;
  flex: 1 1 auto;

  .side-nav-container {
    display: flex;
    flex: 1;
  }

  .sidebar {
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    z-index: 2;
    background: $ds-color-white;
    border-right: 1px solid $ds-color-gray-light;
  }

  .doc-viewer-container {
    flex: 1;
    z-index: 3;
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 50px;
    .main{
      padding: 40px 60px;
    }
  }
}

/* side nav */
.side-nav {
  background: $ds-color-white;
  padding-bottom: 72px;

  .list-group {
    margin-bottom: 0;

    .list-group-item {
      display: block;
      font-size: 14px;
      line-height: 44px;
      text-decoration: none;
      transition: all .2s;
      padding: 0 52px;
      position: relative;
      outline: none;
      color: $ds-color-text;
      background-color: transparent;
      overflow: hidden;
      border: 0;
      border-radius: 0;

      &:hover, &.active {
        background: $ds-color-blue-light;
      }

      &.active {
        border-left: 8px solid $ds-color-primary;
        padding-left: 44px;
      }
    }
  }

  .title-en {
    margin-left: 8px;
    color: $ds-color-gray;
    text-transform: capitalize;
  }
}

/* doc */
.md-content {
  h1, h2, h3, h4, h5, h6 {
    color: $ds-color-primary;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;

    &:before {
      content: '# ';
      color: $ds-color-blue-medium;
    }
  }

  p {
    color: $ds-color-text;
    font-size: 16px;
    line-height: 26px;
  }
}

/* accordion overwrite */
accordion .panel-group {
  .panel-body {
    padding: 0;
    background-color: $ds-color-green-light;
  }

  .panel-title {
    font-size: 14px;
    margin: 0;
    position: relative;
    line-height: 28px;
  }

  .panel > .panel-heading, .panel.panel-default > .panel-heading {
    background: $ds-color-white;
  }

  .panel {
    box-shadow: none;
  }

  [class*="panel-"] > .panel-heading {
    cursor: pointer;
    border-bottom: none;
  }

  .caret {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .panel-heading + .panel-collapse > .panel-body {
    border: none;
  }
}
