<div class="wrapper">
  <div class="side-nav-container">
    <div class="sidebar">
      <nav class="side-nav">
        <accordion [showArrows]="true" [closeOthers]="true" [expandAll]="true">
          <div>
            <accordion-group>
              <accordion-heading>
                <strong>设计</strong>
                <i>Design Guideline</i>
              </accordion-heading>
              <ul class="list-group">
                <li *ngFor="let gl of guideline">
                  <a [routerLink]="['/design-guideline', gl.name]" routerLinkActive="active" class="list-group-item">
                    <span>{{gl.title}}</span>
                    <i>{{gl.name}}</i>
                  </a>
                </li>
              </ul>
            </accordion-group>
          </div>
        </accordion>

      </nav>
    </div>
    <div class="doc-viewer-container">
      <div class="main">
        <div class="md-content" [innerHTML]="htmlContent"></div>
      </div>
    </div>
  </div>
</div>
