<div class="wrapper">
  <div class="side-nav-container">
    <div class="sidebar">
      <nav class="side-nav">
        <accordion [showArrows]="true" [closeOthers]="true" [expandAll]="true">
          <accordion-group>
            <accordion-heading>
              <strong>设计</strong>
              <span class="title-en">Design Guideline</span>
            </accordion-heading>
            <ul class="list-group">
              <li *ngFor="let gl of guideline">
                <a [routerLink]="['/design/guideline', gl.name]" routerLinkActive="active" class="list-group-item">
                  <span class="title">{{gl.title}}</span>
                  <span class="title-en">{{gl.name}}</span>
                </a>
              </li>
            </ul>
          </accordion-group>
        </accordion>

      </nav>
    </div>
    <div class="doc-viewer-container">
      <div class="main">
        <div class="md-content" [innerHTML]="htmlContent"></div>
      </div>
    </div>
  </div>
</div>
