@import "../../../styles/variables";

::ng-deep {
  .md-content {
    h1, h2, h3, h4, h5, h6 {
      color: $ds-color-primary;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;

      &:before {
        content: '# ';
        color: $ds-color-blue-medium;
      }
    }

    p {
      color: $ds-color-text;
      font-size: 16px;
      line-height: 26px;
    }

    ul li {
      color: $ds-color-text-light;
      font-size: 14px;
      line-height: 24px;
      list-style-type: none;
      position: relative;
      padding-left: 12px;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        display: block;
        border-radius: 50%;
        background-color: $ds-color-blue-medium;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    p, ul {
      margin-left: 24px;
      padding: 0;
    }
  }
}
