<div class="alert-box-demo">

  <h2>不同类型消息提示</h2>
  <section>
    <p>场景定义：成功</p>
    <re-alert-box type="success">
      <strong>Well done!</strong> You successfully read this important alert message.
    </re-alert-box>

    <p>场景定义：警告</p>
    <re-alert-box type="warning">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </re-alert-box>

    <p>场景定义：出错</p>
    <re-alert-box type="danger">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </re-alert-box>
  </section>

  <h2>不同大小的消息提示</h2>
  <section>
    <p>场景定义：宽度自适应</p>
    <re-alert-box type="success" cssClass="alert-adjust">
      <strong>Well done!</strong> You successfully read this important alert message.
    </re-alert-box>

    <p>场景定义：普通提示</p>
    <re-alert-box type="danger" cssClass="alert-lg">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </re-alert-box>

    <p>场景定义：较小提示</p>
    <re-alert-box type="warning" cssClass="alert-sm">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </re-alert-box>

  </section>

  <h2>可关闭的消息提示</h2>
  <section>
    <p>场景定义：自动消失</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="autoDisappear" (change)="autoDisappearChange()"/>Auto disappear after 2s.
      </label>
    </div>

    <re-alert-box type="danger" [closable]="true" (close)="close()" *ngIf="!closed">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </re-alert-box>
  </section>
</div>
