<div class="alert-box-demo">

  <h2>Different type</h2>
  <section>
    <p>Info alert:</p>
    <re-alert-box>
      <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super
      important.
    </re-alert-box>

    <p>Success alert:</p>
    <re-alert-box type="success">
      <strong>Well done!</strong> You successfully read this important alert message.
    </re-alert-box>

    <p>Warning alert:</p>
    <re-alert-box type="warning">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </re-alert-box>

    <p>Danger alert</p>
    <re-alert-box type="danger">
      <span class="fa fa-exclamation-circle" aria-hidden="true"></span> <strong>Oh snap!</strong> Change a
      few things up and try submitting again.
    </re-alert-box>
  </section>

  <h2>Closeable alert</h2>
  <section>
    <p>Auto disappear:</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="autoDisappear" (change)="autoDisappearChange()"/>Auto disappear after 2s.
      </label>
    </div>

    <re-alert-box type="danger" [closable]="true" (close)="close()" *ngIf="!closed">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </re-alert-box>
  </section>
</div>
