<div class="pagination">

  <h2>默认</h2>
  <section>
    <p>场景定义：通用分页</p>
    <re-pagination [total]="pager.total" [pageSize]="pager.pageSize" [(pageIndex)]="pager.pageIndex"
                   (pageIndexChange)="pageChange($event)" [maxItems]="10">
    </re-pagination>
  </section>

  <h2>自定义</h2>
  <section>
    <p>场景定义：自定义分页显示内容</p>
    <re-pagination [total]="pager.total" [pageSize]="pager.pageSize" [(pageIndex)]="pager.pageIndex"
                   (pageIndexChange)="pageChange($event)" [maxItems]="5"
                   [headTemplate]="headTemplate" [tailTemplate]="tailTemplate">
    </re-pagination>
    <ng-template #headTemplate>
      <div class="head">
        共{{pager.total}}数据，当前{{pager.pageIndex}}页/{{totalPage()}}页
      </div>
    </ng-template>

    <ng-template #tailTemplate>
      <div class="tail">
        跳至 <input type="text" class="form-control goto-input" [(ngModel)]="gotoPage"
                  [ngModelOptions]="{updateOn: 'change'}"
                  (ngModelChange)="goto()">页
      </div>
    </ng-template>
    <div>
      <pre>{{pager | json}}</pre>
    </div>
  </section>
</div>
