<div>
  <div class="bg">
    <div class="bg-img"></div>
    <div class="bg-overlay"></div>
  </div>
  <div class="container">
    <div class="col-md-9">
      <div class="main">
        <img src="/assets/images/design-logo.svg" />
        <h1>专属于招行DevOps团队</h1>
        <hr/>
        <p>每个设计师、工程师都有自己的习惯、美学倾向和工作流，在 CMB DevOps Design，我们希望设计师能够从重复的劳动中获得解脱，通过构建 CMB DevOps Design System，提升团队整体协作效率。我们希望工程师可以通过 CMB DevOps Design，快速、高效的解决问题，对产品从视觉呈现到信息技术架构有更多的全局观，同时最大程度保证产品从设计到开发的一致性。</p>
        <button class="btn" [routerLink]="['/design']">
          <span>开始查询</span>
        </button>
      </div>
    </div>
  </div>
</div>
