<div class="action-button-demo">

  <h2>Different type</h2>
  <section>
    <p>使用场景说明: 不同类型</p>
    <re-action-button [buttonText]="'Dropdown action'" [actions]="actions" icon="fa fa-tasks"
                      [type]="'primary'"
                      (actionClick)="onActionClick($event)"></re-action-button>
    <re-action-button #actionButton="actionButton" [buttonText]="'Dropup action'" direction="up" [actions]="actions"
                      type="warning"
                      (actionClick)="onActionClick($event)"></re-action-button>

    <re-action-button [buttonText]="'Default Action'" type="default" [actions]="actions"
                      (actionClick)="onActionClick($event)"></re-action-button>

    <re-action-button [buttonText]="'Disabled dropdown action'" type="danger" [actions]="actions"
                      (actionClick)="onActionClick($event)"></re-action-button>
  </section>

  <h2>Different type</h2>
  <section>
    <p>使用场景说明: disable切换</p>
    <div>
      <button class="btn btn-primary" (click)="disabledActionOpen = !disabledActionOpen;">Toggle disabled</button>
    </div>
    <br />
    <re-action-button [buttonText]="'Disabled dropdown action'" type="primary" [actions]="actions"
                      [disabled]="disabledActionOpen" (actionClick)="onActionClick($event)"></re-action-button>
  </section>

  <h2>Customise action button</h2>
  <section>
    <p>使用场景说明: 自定义动作按钮</p>
    <ng-template #buttonTemplate let-action>
      <button class="btn btn-default" (click)="action.toggle($event)">
        <i class="fa fa-filter"></i>
        <span>自定义按钮</span>
      </button>
    </ng-template>

    <re-action-button [buttonText]="'Default Action'" type="default" [actions]="actions"
                      (actionClick)="onActionClick($event)" [buttonTemplate]="buttonTemplate"></re-action-button>
  </section>

</div>
