<div class="action-button-demo">

  <h2>不同类型</h2>
  <section>
    <p>场景定义: 不同类型的按钮组合</p>
    <re-action-button [buttonText]="'Dropdown action'" [actions]="actions" icon="fa fa-tasks"
                      [type]="'primary'"
                      (actionClick)="onActionClick($event)"></re-action-button>
    <re-action-button #actionButton="actionButton" [buttonText]="'Dropup action'" direction="up" [actions]="actions"
                      type="warning"
                      (actionClick)="onActionClick($event)"></re-action-button>

    <re-action-button [buttonText]="'Default Action'" type="default" [actions]="actions"
                      (actionClick)="onActionClick($event)"></re-action-button>

    <re-action-button [buttonText]="'Disabled dropdown action'" type="danger" [actions]="actions"
                      (actionClick)="onActionClick($event)"></re-action-button>
  </section>

  <h2>状态管理</h2>
  <section>
    <p>场景定义: disable切换</p>
    <div>
      <button class="btn btn-primary" (click)="disabledActionOpen = !disabledActionOpen;">Toggle disabled</button>
    </div>
    <br />
    <re-action-button [buttonText]="'Disabled dropdown action'" type="primary" [actions]="actions"
                      [disabled]="disabledActionOpen" (actionClick)="onActionClick($event)"></re-action-button>
  </section>

  <h2>自定义</h2>
  <section>
    <p>场景定义：轻量级，可用于表格扩展功能收纳，节省空间。</p>
    <ng-template #buttonTemplate let-action>
      <div class="action-btn-plain" [ngClass]="{'open': action.isOpen}" (click)="action.toggle($event)">
        <a>
          <span>更多</span>
          <i class="glyphicon glyphicon-chevron-down"></i>
        </a>
      </div>
    </ng-template>

    <re-action-button [buttonText]="'Default Action'" type="default" [actions]="actions2"
                      (actionClick)="onActionClick($event)" [buttonTemplate]="buttonTemplate"></re-action-button>
  </section>

</div>
